{% load i18n %}
<html lang="en">

<head>
    <title>{{ site.name|title }} {% trans "registration" %}</title>
</head>

<body>
<p>
    You (or someone pretending to be you) have asked to register an account at
    {{ site.name|capfirst }}.  If this wasn't you, please ignore this email
    and your address will be removed from our records.
</p>
<br/>
<p>
    To activate this account, please click the following link within the next
    {{ expiration_days }} days:
</p>

<p>
    <a href="https://{{site.domain}}{% url 'accounts:registration_activate' activation_key %}">
        https://{{site.domain}}{% url 'accounts:registration_activate' activation_key %}
    </a>
</p>
<br/>
<p>
    Sincerely, <br/>
    {{ site.name|capfirst }} Management
</p>
</body>

</html>


{% comment %}
**registration/activation_email.html**

Used to generate the html body of the activation email. Should display a
link the user can click to activate the account. This template has the
following context:

``activation_key``
    The activation key for the new account.

``expiration_days``
    The number of days remaining during which the account may be
    activated.

``site``
    An object representing the site on which the user registered;
    depending on whether ``django.contrib.sites`` is installed, this
    may be an instance of either ``django.contrib.sites.models.Site``
    (if the sites application is installed) or
    ``django.contrib.sites.requests.RequestSite`` (if not). Consult `the
    documentation for the Django sites framework
    <http://docs.djangoproject.com/en/dev/ref/contrib/sites/>`_ for
    details regarding these objects' interfaces.

``user``
    The new user account

``request``
    ``HttpRequest`` instance for better flexibility.
    For example it can be used to compute absolute register URL:

        http{% if request.is_secure %}s{% endif %}://{{ request.get_host }}{% url 'registration_activate' activation_key %}

    or when using Django >= 1.7:

        {{ request.scheme }}://{{ request.get_host }}{% url 'registration_activate' activation_key %}
{% endcomment %}