{% extends "base.html" %}
{% block title %}Login{% endblock %}
{% block content %}


    <div class="medium-6 medium-centered large-4 large-centered">
        {% if next %}
            {% if user.is_authenticated %}
                <p class="errorlist">Your account doesn't have access to this page. To proceed,
                please login with an account that has access.</p>
            {% else %}
                <p class="errorlist">Please login to see this page.</p>
            {% endif %}
        {% endif %}
        <div class="callout secondary">
            <form method="post" action="{% url 'accounts:login' %}">
                {% csrf_token %}
                <h4 class="text-center">Sign in to your account</h4>
                {% for field in form %}
                    <div class="fieldWrapper">
                        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                        {{ field }}
                        {% for error in field.errors %}
                            <span class="errorlist">{{ error }}</span>
                            <br/>
                        {% endfor %}

                    </div>
                {% endfor %}
                {% for error in form.non_field_errors %}
                    <span class="errorlist">{{ error }}</span>
                {% endfor %}
                <p class="text-center">
                    <button type="submit" class="button expand" name="page_search">Log in</button>
                </p>
                <a href="{% url 'accounts:reset' %}">Forgot your password?</a>
                <input type="hidden" name="next" value="{{ next }}" />
            </form>
        </div>
    </div>

{% endblock content %}
{# Assumes you setup the password_reset view in your URLconf #}
{# <p><a href="{% url 'password_reset' %}">Lost password?</a></p> #}