{% extends "base.html" %}
{% load i18n %}
{% load widget_tweaks %}
{% block title %}Registration{% endblock %}

{% block content %}
<div class="callout success end pass-help show-for-small-only">
    <p>All fields are required</p>
    <p>Username must be bla bla</p>
</div>

<div class="row">
    <div class="medium-7 large-5 columns callout secondary">
    <h3 class="text-center">Register for a new account</h3>
    <form method="POST" action="" novalidate id="registration_form">
        {% csrf_token %}
        {{ form.non_field_errors }}
            <div class="fieldWrapper">
                <label for="{{ form.username.id_for_label }}">Username: *</label>
                {{ form.username|add_class:"thefield" }}
                <label id="client_username" class="ajaxcheck errorlabel"></label>
                {% for error in form.username.errors %}
                    <span class="errorlist">{{ error }}</span>
                    <br/>
                {% endfor %}
            </div>

            <div class="fieldWrapper">
                <label for="{{ form.email.id_for_label }}">Email: *</label>
                {{ form.email|add_class:"thefield" }}
                <label id="client_email" class="ajaxcheck errorlabel"></label>
                {% for error in form.email.errors %}
                    <span class="errorlist">{{ error }}</span>
                    <br/>
                {% endfor %}
            </div>

            <div class="fieldWrapper">
                <label for="{{ form.password1.id_for_label }}">Password: *</label>
                {{ form.password1|add_class:"thefield" }}
                <label id="client_password1" class="ajaxcheck errorlabel"></label>
                {% for error in form.password1.errors %}
                    <span class="errorlist">{{ error }}</span>
                    <br/>
                {% endfor %}
            </div>

            <div class="fieldWrapper">
                <label for="{{ form.password2.id_for_label }}">Confirm password: *</label>
                {{ form.password2|add_class:"thefield" }}
                <label id="client_password2" class="ajaxcheck errorlabel"></label>
                {% for error in form.password2.errors %}
                    <span class="errorlist">{{ error }}</span>
                    <br/>
                {% endfor %}
            </div>

            <div class="fieldWrapper">
                <label for="{{ form.country.id_for_label }}">Country: *</label>
                {{ form.country|add_class:"thefield" }}
                <label id="client_country" class="ajaxcheck errorlabel"></label>
                {% for error in form.country.errors %}
                    <span class="errorlist">{{ error }}</span>
                    <br/>
                {% endfor %}
            </div>
        <p><button type="submit" class="button">Submit</button></p>
    </form>

    </div>
    <div class="medium-4 large-4 columns callout success end pass-help show-for-medium">
        <p>All fields are required</p>
        <p>Your password must contain at least 6 characters</p>
        <p>Your password cannot be entirely numeric.</p>
    </div>
</div>

{% endblock %}


{% comment %}
**registration/registration_form.html**
Used to show the form users will fill out to register. By default, has
the following context:

``form``
    The registration form. This will be an instance of some subclass
    of ``django.forms.Form``; consult `Django's forms documentation
    <http://docs.djangoproject.com/en/dev/topics/forms/>`_ for
    information on how to display this in a template.
{% endcomment %}