{% extends 'base.html' %}
{% block title %}Set New Password{% endblock %}

{% block content %}
    {% if validlink %}
    <div class="row">
        <div class="small-4 columns callout secondary">
            <h4 class="text-center">Set a new password</h4>
            <form method="post" action="">
                {% csrf_token %}
                {% for field in form %}
                    <div class="fieldWrapper">
                        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                        {{ field }}
                        {% for error in field.errors %}
                            <span class="errorlist">{{ error }}</span>
                            <br/>
                        {% endfor %}

                    </div>
                {% endfor %}
                <p><button type="submit" class="button">Set password</button></p>
            </form>
        </div>
        <div class="small-4 columns callout success end pass-help">
            <p>Your password must contain at least 6 characters</p>
            <p>Your password can't be entirely numeric.</p>
        </div>
    </div>
    {% else %}
        <p>This reset link is no longer valid!</p>
        <p>Please write your email address <a href="{% url "accounts:reset" %}">here</a> and we will send you a new valid reset link</p>
    {% endif %}
{% endblock content %}