{% extends 'base.html' %}
{% block title %}Reset Password{% endblock %}

{% block content %}
    <div class="large-5 callout secondary">
        <h3>Reset password</h3>
        <form method="post" novalidate>
            {% csrf_token %}
            {% for field in form %}
                <div class="fieldWrapper">
                    <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                    {{ field }}
                    {% for error in field.errors %}
                        <span class="errorlist">{{ error }}</span>
                        <br/>
                    {% endfor %}
                </div>
            {% endfor %}
            <p><button type="submit" class="button">Reset password</button></p>
        </form>
</div>

{% endblock content %}