{% load static from staticfiles %}
{% load compress %}

<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}{% endblock %} | NewsSite</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% comment %}
        {% compress css %}
            <link href="{% static 'scss/app.scss' %}" media="screen, projection" rel="stylesheet" type="text/x-scss" />
        {% endcompress %}
        {% endcomment %}
        <link href="{% static 'dist/css/app.a187ab7ccc61.css' %}" rel="stylesheet" />



        {% comment %}
        {% compress js %}
            <script type="text/javascript" charset="utf-8">
            $(document).ready(function() {
                $(document).foundation();
            })
            </script>
            <script src="{% static 'magnific-popup/dist/jquery.magnific-popup.min.js' %}"></script>
            <script src="{% static 'js-cookie/src/js.cookie.js' %}" type="text/javascript" charset="utf-8"></script>
            <script src="{% static 'users/following.js' %}" type="text/javascript" charset="utf-8"></script>
            <script src="{% static 'sth/rating.js' %}"></script>
            <script src="{% static 'accounts/registration.js' %}" type="text/javascript" charset="utf-8"></script>
        {% endcompress %}
        {% endcomment %}
        {% block head %}{% endblock %}
    </head>
    <body>
        <header>
            <div class="large-10 large-centered no-pad-left">
                <h1>News site</h1>
            </div>
        <div class="title-bar show-for-small-only">
            <div class="title-bar-left" data-responsive-toggle="left-menu">
                <button class="menu-icon" type="button" data-toggle></button>
                <div class="title-bar-title">Menu</div>
            </div>
            <div class="title-bar-right" data-responsive-toggle="right-menu">
                {% if request.user.is_authenticated %}
                    <div class="title-bar-title">{{ user.username }}</div>
                {% else %}
                    <div class="title-bar-title">Login/Register</div>
                {% endif %}
                <button class="menu-icon" type="button" data-toggle></button>
            </div>
        </div>

            <div class="top-bar-container">
                <div class="top-bar large-10 large-centered">
                    <div class="top-bar-left element-l" >
                        <ul id="left-menu" class="vertical medium-horizontal menu">
                            <li><a href="{% url 'sth:index' %}">Home</a></li>
                            <li><a href="{% url 'sth:articles' %}">Articles</a></li>
                            <li><a href="{% url 'info:info' %}">Info</a></li>
                        </ul>
                    </div>
                    <div class="top-bar-right element-r">
                        <ul id="right-menu" class="vertical medium-horizontal menu">
                            {% if request.user.is_authenticated %}
                                <li class="show-for-medium"><a href="{% url 'users:user_details' user.username %}">{{ user.username }}</a></li>
                                <li class="show-for-small-only"><a href="{% url 'users:user_details' user.username %}">About me</a></li>
                                <li class="show-for-small-only"><a href="{% url 'users:user_comments' user.username %}">Comments</a></li>
                                <li class="show-for-small-only"><a href="{% url 'users:user_settings' %}">Settings</a></li>
                                <li class="show-for-small-only"><a href="{% url 'users:password_change' %}">Change Password</a></li>
                                <li><a href="{% url 'accounts:logout' %}">Logout</a></li>
                            {% else %}
                                <li><a href="{% url 'accounts:login' %}">Login</a></li>
                                <li><a href="{% url 'accounts:registration_register' %}">Register</a></li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>
        </header>

        <div id="layout" class="main large-10 large-centered">
            {% block content %}

            {% endblock content %}

            <div id="layout_footer"></div>
        </div>
        <div id='footer'>
            <div class="large-10 large-centered">
                <a href="{% url "info:contact_form" %}">Contact us</a>
            </div>
        </div>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/2.2.1/jquery.min.js"></script>
        <script>
            // Fallback to loading jQuery from a local path if the CDN is unavailable
            (window.jQuery || document.write('<script src="{% static 'jquery/dist/jquery.min.js' %}"><\/script>'));
        </script>

        <script src="{% static 'dist/js/f02bcb9c2b0f.js' %}"></script>
        <script src="{% static 'dist/js/o4d6ca65ef46.js' %}"></script>

        {% block jscript %}{% endblock %}
    </body>
</html>