{% extends "base.html" %}
{% load opinion_extras %}
{% load widget_tweaks %}
{% block title %}{{ article.article_headline }}{% endblock %}

{% block jscript %}
    {% if anchor %}
        <script type='text/javascript'>
            $(document).ready(function(){
                window.location = '#{{ anchor }}'
            });
        </script>
    {% endif %}
{% endblock %}


{% block content %}

<div id="my-popup" class="mfp-hide white-popup">
    <p>You have to be logged in to rate comments
    <br/>
    <a href="{% url 'accounts:login' %}">Log in</a></p>
    <p>Not a member yet?
    <br/>
    <span>You can register <a href="{% url 'accounts:registration_register' %}">here</a></span></p>
</div>

<h2 id="naslov">{{ article.article_headline }}</h2>
    <div class="large-9 ">
        <div class="row">
            <div class="large-8 columns">
                <p class="content">{{ article.description }}</p>
                <p class="content">{{ article.content|linebreaks }}</p>
            </div>
            <div class="large-4 columns">
                <img src="{{ article.image.url }}" alt="{{ article.image.name }}"/>
            </div>
        </div>
    </div>

    <h5>Comments</h5>
    <hr/>

{% comment %} my comment or form for submitting comment {% endcomment %}
<div id="my_comment_section">
    {% if my_comment %}
        <h5>Your comment:</h5>
        <div class="large-8 callout warning">
            <div class="row">
                <div class="small-10 columns no-pad-left" >
                    <b><a href="{% url 'users:user_details' my_comment.0.username %}">{{ my_comment.0.username }}</a></b>
                    <p class="details">{{ my_comment.0.comment_date|ago }}</p>
                </div>
                <div class="small-2 columns">
                    <span class="rat">{{ my_comment.0.ratio }}</span><br/>
                    <span class="succ">+{{ my_comment.0.likes }}</span>
                    <span class="war">-{{ my_comment.0.dislikes }}</span>
                </div>
            </div>
            <span><b>{{ my_comment.0.comment_headline }}</b></span>
            <p class="content">{{ my_comment.0.content|linebreaks }}</p>
        </div>
        {% if messages %}
            {% for message in messages %}
                <p class="succ">{{ message }}</p>
            {% endfor %}
        {% endif %}
    {% else %}
        <h5>Write a comment:</h5>
        <div id="write_comment" class="large-8 callout warning">
            <form method="post" action="{{ article.get_absolute_url }}">
                {% csrf_token %}
                <div class="fieldWrapper">
                    <label for="{{ write_comment_form.comment_headline.id_for_label }}">Headline:</label>
                    {{ write_comment_form.comment_headline }}
                    {% for error in write_comment_form.comment_headline.errors %}
                        <span class="errorlist">{{ error }}</span>
                        <br/>
                    {% endfor %}
                </div>
                <div class="fieldWrapper">
                    {{ write_comment_form.content }}
                    {% for error in write_comment_form.content.errors %}
                        <span class="errorlist">{{ error }}</span>
                        <br/>
                    {% endfor %}
                </div>
                {% if user.is_authenticated %}
                    <input type="submit" class="button" name="submit_comment" value="Submit">
                {% else %}
                    <input type="button" class="button rate-popup" value="Submit">
                {% endif %}
            </form>
        </div>
    {% endif %}
</div>

{% comment %} comment search criteria {% endcomment %}
<div class="row large-9 callout secondary" id="criteria_anchor">
        <form method="get" action="{{ article.get_absolute_url }}">
            <div class="large-5 medium-5 columns">

                <div class="input-group">
                    <span class="input-group-label">Order by:</span>
                    {{ criteria_form.o|add_class:"input-group-field" }}
                </div>
            </div>
            <div class="large-5 medium-5 columns">
                {% if user.is_authenticated %}
                    {{ criteria_form.w }}
                {% endif %}
            </div>
            <div class="large-2 medium-2 columns">
                <input type="submit" class="button" name="criteria_submit" value="Search">
            </div>
        </form>
</div>
    <div class="large-6 medium-8 callout secondary" id="username_anchor">
        <form method="get" action="{{ article.get_absolute_url }}">
            {{ user_form.non_field_errors }}
            <div class="input-group">
                <span class="input-group-label">Search by username:</span>
                {{ user_form.username_search|add_class:"input-group-field" }}
                <div class="input-group-button">
                    <input type="submit" class="button" value="Search">
                </div>
            </div>
            {% for error in user_form.username_search.errors %}
                <span class="errorlist">{{ error }}</span>
                <br/>
            {% endfor %}
        </form>
    </div>



{% comment %} Pagination {% endcomment %}
{% include "sth/pagination.html" with objects=comments comments=1 %}

<hr/>

{% comment %} display comments {% endcomment %}
<div id="comments">
{% if comments.paginator.count == 0 %}
    <div class="large-8">
        <p class="text-center no-comments">No comments to show</p>
    </div>
{% else %}
    {% for comment in comments %}
        <div class="large-8 callout warning">
            <div class="row">
                <div class="small-10 columns no-pad-left" >
                    <b><a href="{% url 'users:user_details' comment.user.username %}">{{ comment.user.username }}</a></b>
                    <p class="details">{{ comment.comment_date|ago }}</p>
                </div>
                <div class="small-2 columns">
                       <span id="ratio{{ comment.id }}" class="rat">{{ comment.ratio }}</span><br/>
                       <span id="likes{{ comment.id }}" class="succ">+{{ comment.likes }}</span>
                       <span id="dislikes{{ comment.id }}" class="war">-{{ comment.dislikes }}</span>

                        {% if user.username != comment.user.username %}
                            <div id="rating_div{{ comment.id }}">
                                {% if comment.rated == None %}
                                    <form method="post" name="rating_buttons">
                                        {% csrf_token %}
                                        <div class="button-group tiny">
                                            {% if user.is_authenticated %}
                                                <input type="button" value="+" class="button success comm" id="+{{ comment.id }}">
                                                <input type="button" value="-" class="button alert comm" id="-{{ comment.id }}">
                                            {% else %}
                                                <input type="button" value="+" class="button success rate-popup" id="+{{ comment.id }}">
                                                <input type="button" value="-" class="button alert rate-popup" id="-{{ comment.id }}">
                                            {% endif %}
                                        </div>
                                    </form>
                                {% elif comment.rated == 1 %}
                                    <span class="success label">+1</span>
                                {% else %}
                                    <span class="alert label">-1</span>
                                {% endif %}
                            </div>
                        {% endif %}
                </div>
            </div>
            <span><b>{{ comment.comment_headline }}</b></span>
            <p class="content">{{ comment.content|linebreaksbr }}</p>
        </div>
    <br/>
    {% endfor %}
{% endif %}
</div>
{% comment %} Pagination {% endcomment %}
{% include "sth/pagination.html" with objects=comments comments=1 %}

{% endblock content %}