{% extends 'base.html' %}
{% block title %}Articles{% endblock %}
{% load widget_tweaks %}
{% block content %}

    <h2>Articles</h2>
    <hr/>
    <div class="large-4">
        <form action="" method="get">
            <div class="input-group">
                <span class="input-group-label">Category:</span>
                {{ form.article_category|add_class:"input-group-field" }}
                <div class="input-group-button">
                    <input type="submit" class="button" value="Search">
                </div>
            </div>
            {% for error in form.article_category.errors %}
                <span class="errorlist">{{ error }}</span>
                <br/>
            {% endfor %}
        </form>
    </div>

    <div class="large-9">
        {% for article in articles %}
            <h5><a href="{{ article.get_absolute_url }}">
                {{ article.article_headline }}</a>
            </h5>
            <p class="details">{{ article.article_date|date:"M d, Y" }} &middot; {{ article.num_of_comments }} comments</p>
            <div class="row">
                <div class="large-3 columns no-pad-left">
                    <img src="{{ article.image.url }}" alt="{{ article.image.name }}"/>
                </div>
                <div class="large-9 columns no-pad-left">
                    <p>{{ article.description }}</p>
                </div>
            </div>
            <hr/>
        {% endfor %}
    </div>
{% endblock content %}