{% extends "base.html" %}
{% block title %}Home{% endblock %}

{% block content %}

    <div class="row">
    <h3>Sports</h3>
        {% for sa in sport_articles %}
            <div class="large-3 columns no-pad-left end">
                <img src="{{ sa.image.url }}" />
                <h5><a href="{{ sa.get_absolute_url }}">{{ sa.article_headline }}</a></h5>
            </div>
        {% endfor %}
    </div>
    <hr/>
    <div class="row">
    <h3>Culture</h3>
        {% for ca in culture_articles %}
            <div class="large-3 columns no-pad-left">
                <img src="{{ ca.image.url }}" />
                <h5><a href="{{ ca.get_absolute_url }}">{{ ca.article_headline }}</a></h5>
            </div>
        {% endfor %}
    </div>

{% endblock content %}