{% load widget_tweaks %}


{% if objects.paginator.num_pages != 1 %}
    <hr/>
        <form method="get" action="{{ article.get_absolute_url }}" novalidate id="pagination_anchor">
            <div class="large-4 medium-6">
                <div class="input-group">
                    <span class="input-group-label">Page:</span>
                    {{ page_form.page_number|add_class:"input-group-field" }}
                    <div class="input-group-button">
                        <input type="submit" class="button" value="Go">
                    </div>
                </div>
                {% for error in page_form.page_number.errors %}
                    <span class="errorlabel">{{ error }}</span>
                {% endfor %}
            </div>
            <input type="hidden" name="w" value="{{ which }}">
            <input type="hidden" name="o" value="{{ order }}">
        </form>
            <ul class="pagination" role="navigation" aria-label="Pagination">
                {% if objects.has_previous %}
                    {% if objects.previous_page_number != 1 %}
                        <li><a href="?page=1{{ comments|yesno:get_arguments }}">1</a></li>
                        <li class="ellipsis"></li>
                    {% endif %}
                    <li><a href="?page={{ objects.previous_page_number }}{{ comments|yesno:get_arguments }}">
                        {{ objects.previous_page_number }}</a></li>
                {% endif %}

                <li class="current">
                    <span class="show-for-sr">You're on page</span>
                    {{ objects.number }}
                </li>

                {% if objects.has_next %}
                    <li><a href="?page={{ objects.next_page_number }}{{ comments|yesno:get_arguments }}">
                        {{ objects.next_page_number }}</a></li>
                    {% if objects.next_page_number != objects.paginator.num_pages %}
                        <li class="unavailable"><a href="">&hellip;</a></li>
                        <li><a href="?page={{ objects.paginator.num_pages }}{{ comments|yesno:get_arguments }}">
                            {{ objects.paginator.num_pages }}</a></li>
                    {% endif %}
                {% endif %}
            </ul>
{% endif %}