{% extends 'base.html' %}
{% load widget_tweaks %}
{% block title %}Rankings{% endblock %}

{% block content %}
<h3>Rankings</h3>
<div class="large-3 medium-6">
<ul class="sub-nav menu" role="navigation" title="Filter Menu List">
  <li class="sub-nav-title">Order by:</li>
  <li class="active" id="likes"><a href="{% url 'sth:ranking_details' 'likes' %}">Likes</a></li>
  <li id="ratio"><a href="{% url 'sth:ranking_details' 'ratio' %}">Ratio</a></li>
</ul>
</div>
<br/>

{% comment %} Pagination {% endcomment %}
{% include "sth/pagination.html" with objects=users %}

<hr />
<div class="medium-6">
    <table>
        <thead>
            <tr>
                <th></th>
                <th>Username</th>
                <th>Likes</th>
                <th>Dislikes</th>
                <th>Ratio</th>
            </tr>
        </thead>
        <tbody>
        {% for usr in users %}
            <tr>
                <td>{{ first|add:forloop.counter0 }}</td>
                <td><a href="{% url 'users:user_details' usr.username %}">{{ usr.username }}</a></td>
                <td>{{ usr.num_of_likes }}</td>
                <td>{{ usr.num_of_dislikes }}</td>
                <td>{{ usr.ratio }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
<hr/>

{% comment %} Pagination {% endcomment %}
{% include "sth/pagination.html" with objects=users %}

{% endblock content %}