//magnific-popup
@import "magnific-popup/src/css/main";

//foundation
@import "foundation-sites/scss/foundation";
@import "foundation-sites/scss/settings/settings";

//compass
@import "compass";
@import "compass/reset.scss";
@import "compass/layout.scss";


@include sticky-footer(72px, "#layout", "#layout_footer", "#footer");
@include foundation-menu-icon;

//@include top-bar-stacked;

@include foundation-global-styles;
@include foundation-grid; 

@include foundation-typography;
@include foundation-button;
@include foundation-forms;
@include foundation-visibility-classes;
@include foundation-float-classes;
//@include foundation-accordion;
//@include foundation-accordion-menu;
//@include foundation-badge;
//@include foundation-breadcrumbs;
@include foundation-button-group;
@include foundation-callout;
@include foundation-close-button;
//@include foundation-drilldown-menu;
//@include foundation-dropdown;
//@include foundation-dropdown-menu;
//@include foundation-flex-video;
@include foundation-label;
//@include foundation-media-object;
@include foundation-menu;
//@include foundation-off-canvas;
//@include foundation-orbit;
@include foundation-pagination;
//@include foundation-progress-bar;
//@include foundation-slider;
//@include foundation-sticky;
//@include foundation-reveal;
//@include foundation-switch;
@include foundation-table;
@include foundation-tabs;
//@include foundation-thumbnail;
@include foundation-title-bar;
//@include foundation-tooltip;
@include foundation-top-bar;


.no-pad-right {
    padding-right: 0;
}

.no-pad-left{
    padding-left: 0;
}

.log-in-form {
    border: 1px solid #cacaca;
    padding: 1rem;
    border-radius: 3px;
}

.details {
    font-size: 12px;
    color: grey;
}


header {
    background-color: $first-brown;
    h1 {
        color: $best-orange;
    }
}

.pass-help {
    font-size: 14px;
}

.war {
    color: #ec5840;
}

.rat {
    color: darkblue;
}

.succ {
    color: #43ac6a;
}

.top-bar-container {
    background-color: $second-brown;
    a {
        color: $white;
        &:hover {
            color: $best-orange;
        }
    }
}


.sub-nav {
  background-color: #739fee;
  li {
    color: $first-brown;
    padding-left: 0.88889rem;

    a {
        color: $white;
        &:hover {
            color: $best-orange;
        }
    }

    &.active a {
      border-radius: 3px;
      background: $second-brown;
      color: $white;
      cursor: default;
      font-weight: normal;
      padding: 0.5rem 1rem;
    }
  }
}



#footer {
  background-color: $first-brown;
  color: $white;
  padding-top: 10px;
  a {
    color: $white;
  }
}

.main {
  margin-top: 0;
  background-color: $white;
  padding-left: 10px;
  padding-top: 20px;
  border: {
    left: 1px solid $second-brown;
    right: 1px solid $second-brown;
    bottom: 1px solid $second-brown;
  }
}

.sub-header {
    background-color: $third-brown;
    margin: 0px 0px;
    border-radius: 0px;
}

.normal-list {
    list-style-type: normal;
}


%small-menu {
    ul {    
        li {
            @include breakpoint(small only) {
                background-color: $body-brown;
            }   
            a {
                @include breakpoint(small only) {
                    background-color: $second-brown;
                    border-bottom: 2px solid $first-brown;
                    text-align: center;
                }
                @include breakpoint(medium only) {
                    padding: 1.2rem 1.3rem;
                }      
            }
        }    
    }
}

.element-l {
    @extend %small-menu; 
    @include breakpoint(small only) {
        float: left;
        width: 40%;
    }
}

.element-r {
    @extend %small-menu; 
    @include breakpoint(small only) {
        float: right;
        width: 40%;
    }  
}

.top-bar {
    @include breakpoint(small only) {
        background-color: $white;
    }
}

.sticky-to-main {
    margin-left: -10px;
}

.sticky-to-main.top {
    margin-top: -20px;
}

input[type], select, textarea {
    margin: 0;
}

.fieldWrapper {
    margin-bottom: 1rem;
}

.errorlist, .errorlabel {
    font-size: 14px;
    color: darkred;
}

.error-input {
    border: 1px solid darkred;
}


.ajaxcheck {
    display: none;
}

.white-popup {
  position: relative;
  background: #FFF;
  padding: 40px;
  width: auto;
  max-width: 400px;
  margin: 20px auto;
}

.no-comments {
    padding: 20px 0px 50px;
}

.centered-text {
    text-align: center;
} 

