<div class="sticky-to-main sticky-to-main-top">
<div class="row callout sub-header">
    <div class="large-6 columns">
        <h3>{{ user_profile.user.username }}</h3>
        <p>{{ user_likes.0.ratio }} (+{{ user_likes.0.num_of_likes }} -{{ user_likes.0.num_of_dislikes }})</p>
    </div>
    <div class="large-6 columns">
        {% if user.is_authenticated and user.is_staff == False %}
            {% if user.userprofile.id != user_profile.id %}
                <div>
                    <form method="POST" name="following_buttons">
                        {% csrf_token %}
                        {% if is_followed == 1 %}
                            <input id="followed" type="hidden" name="followed" value="1">
                            <input type="button" value="Unfollow" class="foll alert button" id="0{{ user_profile.id }}">
                            <input type="button" value="Follow" class="foll success button" id="1{{ user_profile.id }}">
                        {% else %}
                            <input id="followed" type="hidden" name="followed" value="0">
                            <input type="button" value="Follow" class="foll success button" id="1{{ user_profile.id }}">
                            <input type="button" value="Unfollow" class="foll alert button" id="0{{ user_profile.id }}">
                        {% endif %}


                    </form>
                </div>
            {% endif %}
        {% endif %}
    </div>
</div>

{% if user.is_authenticated %}
    {% if user_profile.user.username == user.username %}
        <ul class="sub-nav menu show-for-medium" role="navigation" title="User Menu List">
    {% else %}
        <ul class="sub-nav menu" role="navigation" title="User Menu List">
    {% endif %}
{% else %}
    <ul class="sub-nav menu" role="navigation" title="User Menu List">
{% endif %}

  <li {{ details|yesno:"class=active," }}><span class="show-for-sr">
      About me</span>
      <a href="{% url 'users:user_details' user_profile.user.username %}">About me</a>
  </li>

  <li {{ comments|yesno:"class=active," }}><a href="{% url 'users:user_comments' user_profile.user.username %}">Comments</a></li>
  {% if user.is_authenticated and user.username == user_profile.user.username %}
      <li {{ settings|yesno:"class=active," }}><a href="{% url 'users:user_settings' %}">Settings</a></li>

      <li {{ password|yesno:"class=active," }}><a href="{% url 'users:password_change' %}">Change Password</a></li>
  {% endif %}
</ul>
</div>