{% extends "base.html" %}
{% load opinion_extras %}
{% load staticfiles %}
{% load compress %}
{% block title %}{{ user_profile.user.username }}'s comments{% endblock %}

{% block head %}{% endblock %}

{% block content %}

{% include "users/sub_menu.html" with comments=1 %}

{% if object_list|length == 0 %}
    <p>No comments to show</p>
{% else %}
    {% for comment in object_list %}
        <h5>{{ comment.article_headline }}</h5>
        <div class="large-8 medium-10 callout warning">
            <div class="row">
                <div class="small-10 columns no-pad-left" >
                    <b><a href="{% url 'users:user_details' comment.username %}">{{ comment.username }}</a></b>
                    <p class="details">{{ comment.comment_date|ago }}</p>
                </div>
                <div class="small-2 columns">
                       <span id="ratio{{ comment.id }}" class="rat">{{ comment.ratio }}</span><br/>
                       <span id="likes{{ comment.id }}" class="succ">+{{ comment.likes }}</span>
                       <span id="dislikes{{ comment.id }}" class="war">-{{ comment.dislikes }}</span>
                </div>
            </div>
            <span><b>{{ comment.comment_headline }}</b></span>
                <p class="content">{{ comment.content|linebreaks }}</p>
        </div>
    <br/>
    {% endfor %}

{% endif %}

{% endblock %}