{% extends "base.html" %}
{% load widget_tweaks %}
{% block title %}Change password{% endblock %}

{% block content %}


{% include "users/sub_menu.html" with password=1 %}


<div class="callout success end pass-help show-for-small-only">
    <p>All three fields are required</p>
    <p>Your password must contain at least 6 characters</p>
    <p>Your password can't be entirely numeric.</p>
</div>

    <div class="row">
        <div class="medium-5 columns callout secondary">
            <form method="post" action="">
                {% csrf_token %}
                {% for field in form %}
                    <div class="fieldWrapper">
                        <label for="{{ field.id_for_label }}">{{ field.label }} * </label>
                        {{ field }}
                        {% for error in field.errors %}
                            <span class="errorlist">{{ error }}</span>
                            <br/>
                        {% endfor %}

                    </div>
                {% endfor %}
                <p><button type="submit" class="button">Change password</button></p>
            </form>
        </div>
        <div class="medium-5 large-4 columns callout success end pass-help show-for-medium">
            <p>All three fields are required</p>
            <p>Your password must contain at least 6 characters</p>
            <p>Your password can't be entirely numeric.</p>
        </div>
    </div>


{% endblock %}


{# This is used by django.contrib.auth #}