{% extends "base.html" %}
{% block title %}Settings{% endblock %}

{% block content %}

{% include "users/sub_menu.html" with settings=1 %}


<div class="callout success end pass-help show-for-small-only">
    <p>Email and Country are required fields</p>
    <p>About me is not a required field</p>
</div>

<div class="row">
    <div class="medium-7 columns callout secondary">

    {% if messages %}
            {% for message in messages %}
                <p{% if message.tags %} class="{{ message.tags }} succ"{% endif %}>{{ message }}</p>
            {% endfor %}
    {% endif %}
    <form method="POST" action="{% url 'users:user_settings' %}" novalidate>
        {% csrf_token %}
        {{ form.non_field_errors }}
        {% for field in form %}
            <div class="fieldWrapper">
                <label for="{{ field.id_for_label }}">
                    {{ field.label }}
                    {% if field.label != 'About me' %}
                    *
                    {% endif %}
                </label>
                {{ field }}
                {% for error in field.errors %}
                    <span class="errorlist">{{ error }}</span>
                    <br/>
                {% endfor %}
            </div>
        {% endfor %}
        <p><button type="submit" class="button">Update profile</button></p>
    </form>

    </div>
    <div class="medium-5 large-4 columns callout success end pass-help show-for-medium">
        <p>Email and Country are required fields</p>
        <p>About me is not a required field</p>
    </div>
</div>

{% endblock content %}