{% extends "base.html" %}
{% load opinion_extras %}
{% load staticfiles %}
{% load compress %}

{% block title %}{{ user_profile.user.username }}{% endblock %}
{% block head %}{% endblock %}

{% block content %}
    {% include "users/sub_menu.html" with details=1 %}

    <div class="medium-4">
        <table>
            <tr>
                <td>Country:</td>
                <td>{{ user_profile.country.name }}</td>
            </tr>
            <tr>
                <td>Member since:</td>
                <td>{{ user_profile.user.date_joined|ago }}</td>
            </tr>
        </table>
    </div>
    <div class="row">
        <div class="large-9 columns">
            <h6>About me</h6>
            <p> {{ user_profile.about_me|linebreaks }} </p>
            <br/>
        </div>
        <div class="large-3 show-for-large columns">

        </div>
    </div>

{% endblock content %}