{% extends "base.html" %}

{% block title %}Contact us{% endblock %}

{% block content %}

<div class="callout success end pass-help show-for-small-only">
    <p>All fields are required</p>
</div>

<div class="row">
    <div class="medium-7 large-6 columns callout secondary">
    <h3 class="text-center">Contact us</h3>
    <form method="POST" action="" novalidate>
        {% csrf_token %}
        {{ form.non_field_errors }}
        {% for field in form %}
            <div class="fieldWrapper">
                {{ field.label }}
                {{ field }}
                {% for error in field.errors %}
                    <span class="errorlist">{{ error }}</span>
                    <br/>
                {% endfor %}
            </div>
        {% endfor %}
        <p><button type="submit" class="button">Submit</button></p>
    </form>

    </div>
    <div class="medium-4 large-4 columns callout success end pass-help show-for-medium">
        <p>All fields are required</p>
    </div>
</div>

{% endblock content %}